.card {
  display: flex;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  border-radius: 8px;
}

.details {
  flex: 1;
  max-width: 100%;
  margin-left: 10px;
}   